body{
    font-family: 'Source Sans Pro', sans-serif;
}
/*1*/
/*section*/
.cover-3{
    width: 1440px;
    height: 800px;
    margin: 0 auto;
}
/*header*/

.header-menu {
    width: 1375px;
    margin: 0 auto;
    margin-top: 23px;
}
/*top-menu*/
.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*logo*/
.logo a{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #333333;
}
/*nav-menu*/
.nav-menu {
    width: 399px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 33px;
}
.nav-menu li a{
    position: relative;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}
.search{
    width: 70px;
    display: flex;
    justify-content: space-between;
}
/*animation-bottom*/
.animation-bottom::before{
    content: '';
    border-bottom: 1px solid #333333;
    position: absolute;
    bottom: 0;
    width: 0;
    transition: all 1s ease;
}
.animation-bottom:hover::before{
    width: 100%;
    transition: all 1s ease;
}

/*/header*/

/*container-top*/
.container-top {
    margin: 0 auto;
    width: 1170px;
    display: flex;
    flex-direction: column;
}
.container-top h1{
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
    color: #333333;
    margin: 0 auto;
    margin-top: 274px;
}
.container-top a{
    margin: 0 auto;
    margin-top: 307px;
}
/*/container-top*/

/*/section*/
/*/1*/

/*2*/
.container-2{
    width: 1440px;
    height: 912px;
    background-color: #333333;
    color: white;
    margin: 0 auto;
  }
  .main-text{
    width: 90px;
    height: 24px;
    margin: 0 auto;
    padding-top: 114px;
  }
  .main-text p{
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  }
  .bottom-main-text{
    width: 747px;
    height: 128px;
    margin: 0 auto;
    margin-top: 30px;
    line-height: 24px;
  }
  .bottom-main-text p{
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    line-height: 64px;
  }
  .main{
    margin: 60px 135px;
   display: flex;
   justify-content: space-around;
  }
  .section{
    width: 370px;
    height: 320px;
    background-color: rgba(205, 214, 219, 0.05);
  }
  .section h2{
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    line-height: 32px;
    margin-top: 10px;
  }
  .section p{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    margin: 10px 40px;
  }
  .section a{
    padding-top: 25px;
    padding-bottom: 7px;
     display: flex;
     justify-content: center;
    }
  .section .learn-more{
   text-align: center;
   margin-top: 15px;
  }
  .section .learn-more a{
    color: red;
    text-decoration: none;
    font-weight: bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
      position: relative;
  }
  /*animation*/
  .animation-white::before{
    content: '';
    border-bottom: 2px solid white;
    position: absolute;
    bottom: 0;
    width: 0;
    transition: all 1s ease;
  }
  .animation-white:hover::before{
    width: 25%;
    transition: all 1s ease-in-out;
  }
  /*end of animation*/
/*/2*/

/*3*/
/*/3*/

/*4*/
/*/4*/
